@import "tailwindcss";

/* Tailwind tiene un punto de quiebre "sm" que se aplica si el ancho de pantalla es menor que 640px o 40rem */ 
/* Define un nuevo punto de quiebre "xsm" para el ancho de pantalla, en este caso si es menor que 400px */
@theme{
  --breakpoint-xsm: 400px
}

@layer components {
  /* Imagen de fondo alineado a la derecha y arriba */
  .bg-with-logo {
    background-image: url('/images/bigLogo.svg');
    background-size: contain;
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
  }

  /* Color de fondo con animación de cambio de color */
  .bg-button-continuous {
   transition: all 0.5s ease-in-out; 
   animation: colorChange 1s infinite;
  }

  /* Se define una animación que cambia el color del elemento */
  /* El termino "currentColor" sirve para selecciona el color actual aplicado a la propiedad color 
  del mismo elemento HTML en el cual se encuentra la clase */
  @keyframes colorChange {
    0% {background-color: currentColor;}
    50% {background-color: #6a7282;}
    100% {background-color: currentColor;}
   }

   /* Media query para cuando la pantalla es de 640px o menos */
  @media screen and (max-width: 640px) {
    .bg-with-logo {
      background-image: none;
    }
   }
}